@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Expletus+Sans&display=swap');

:root {
  --gray-text: #434343
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: var(--gray-text);
  margin: 0 2% 0 2%;
  font-family: 'Expletus Sans','Barlow', sans-serif, Impact, 'Arial Narrow Bold';
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 35vh;
  margin-bottom: 3rem;
  box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.5);
}

.header-container h1 {
  text-align: center;
  font-weight: 800;
  padding-top: 3.5rem;
  font-size: 3rem;
}

.header-container__nav ul {
  display: flex;
  gap: 1rem;
  margin-bottom: 5px;
}

.header-container__nav li {
  list-style-type: none;
}

.header-container__nav a {
  color: var(--gray-text);
  text-decoration: none;
}

.main-gallery {
  position: relative;
  display: flex;
  height: 90vh;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 5rem;
}

.main-gallery__right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-gallery img {
  width: auto;
  height: 100%;
}

.main-gallery__right-side img {
  width: auto;
  height: 48%;
}

.extra-gallery div {
  display: flex;
  justify-content: center;
  gap: 2%;
  height: 40vh;
  margin-bottom: 20px;
  padding-top: 2rem;
}

.extra-gallery img {
  width: auto;
  height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}